.container{
    display: flex;
    align-items: center;
    height: 80vh;
}
.google-login-box {
    display: flex;
    border: 1px solid #2f2b2b;
    border-radius: 8px;
    padding: 8px;
    width: 400px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(18, 18, 18);
    margin: 20px auto;
    background-color: rgb(31, 31, 31);
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  p,h2,span{
    background-color: rgb(31, 31, 31);
  }

  .google-login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    color: white;
    width: 70%;
    border: 3px solid rgb(45, 43, 43);
    background-color: rgb(31, 31, 31);
  }

  .sign-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: rgb(46,73,149);
    background: linear-gradient(90deg,rgba(169,210,219,1) 10%, rgba(46,73,149,0.9825981417957808) 49%);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .sign-button:hover {
    background: rgb(16, 34, 85);
    background: linear-gradient(90deg,rgb(145, 196, 208) 15%, rgba(51, 83, 169, 0.983) 46%);
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  